.onlineContainer {
  min-width: 320px;
  border-right: 1px solid #e7e5f4;
}
.onlineContainerMobile {
  position: fixed;
  height: 100vh;
  z-index: 2;
  background: linear-gradient(
    167deg,
    rgba(15, 44, 118, 1) 0%,
    rgba(128, 120, 176, 1) 100%
  );
  width: 100%;
  right: 0;
  transition-duration: 0.7s;
}
.onlineTopGradiant {
  position: absolute;
  background: linear-gradient(
    180deg,
    #1d357e 0%,
    rgba(31, 54, 127, 0.91) 39.06%,
    rgba(47, 65, 135, 0) 100%
  );
  opacity: 0.4;
  width: 320px;
  height: 80px;
  z-index: 1;
  pointer-events: none;
}
.onlineBottomGradiant {
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(109, 107, 167, 0) 0%,
    rgba(111, 109, 168, 0.93) 63.02%,
    #7f77b0 100%
  );
  opacity: 0.4;
  width: 320px;
  height: 80px;
  z-index: 1;
  bottom: 0;
  pointer-events: none;
}
.onlineUserList {
  height: calc(100% - 80px);
  padding: 0 22px;
  position: absolute;
  width: 320px;
  max-height: calc(100% - 80px);
}
.onlineBorderLeft {
  border-left: 1px solid #e7e5f4;
  min-height: calc(100vh - 80px);
  position: inherit;
  padding: 40px 0;
  margin-left: 25px;
}
.translate100 {
  transform: translateX(100vw);
}
.translate0 {
  transform: translateX(0);
}
